<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>template.js</title>
	<link rel="stylesheet" href="dist/styles/main.css">
	<script src="dist/scripts/template.js"></script>
</head>
<body>
	<script type="template" id="btn-tpl">
	
	<% for(var i = 0;i<this.user.limit;i++) { %>
		<div class="item">
			<div class="user-info"><% this.user.name %></div>
			<% if(this.user.name) { %>
			有名字才会显示此段
			<% } %>
			<button>立即<% this.user.do %></button>
		</div>
	<% } %>
	</script>


	<script>
	var obj  = {
			user: {
			name: "rose",
			do: "支付",
			limit: 4
		}
	};
	
	var rs = window.template("btn-tpl", obj);
	document.querySelector("body").innerHTML = rs;
	</script>
</body>
</html>