<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>template.js</title>
	<link rel="stylesheet" href="dist/styles/main.css">
	<script src="dist/scripts/template.js"></script>
</head>
<body>
	<script type="template" id="btn-tpl">
	
	<% for(var i = 0;i<users.length;i++) { %>
		<div class="people">
			<p><label>姓名：</label><% users[i].name %></p>
			<p><label>年龄：</label><% users[i].age %></p>
			<p><label>工作：</label><% users[i].work %></p>
			<% if(users[i].special) { %>
				<p class="special">对，没错，我就是那个“特别的”</p>
			<% } %>
		</div>
	<% } %>
	</script>


	<script>
	var users = [
		{
			name: "rose",
			age: 18,
			work: "student"
		},
		{
			name: "jack",
			age: 20,
			work: "备胎",
			special: true
		}
	];
	
	var rs = window.template("btn-tpl", users);
	document.querySelector("body").innerHTML = rs;
	</script>
</body>
</html>