<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>template.js</title>
	<link rel="stylesheet" href="dist/styles/main.css">
	<script src="dist/scripts/template.js"></script>
</head>
<body>
	<script type="template" id="btn-tpl">
	<div class="user-info"><% this.user.name %></div>
	<button>立即<% this.user.do %></button>
	</script>


	<script>
	var obj  = {
			user: {
			name: "rose",
			do: "支付"
		}
	};
	
	var rs = window.template("btn-tpl", obj);
	console.log(rs);
	</script>
</body>
</html>